body{
margin:0;
font-family:Georgia, serif;
background:#f5f5f5;
}

/* HEADER */
.topBar{
display:flex;
justify-content:space-between;
align-items:center;
padding:10px;
background:#e11d48;
color:white;
}

.topBar input{
width:40%;
padding:6px;
border-radius:20px;
border:none;
}

/* CATEGORY */
.categories{
display:flex;
gap:15px;
padding:10px;
background:#fff;
overflow-x:auto;
}

/* TICKER */
.ticker{
background:#b80000;
color:white;
overflow:hidden;
white-space:nowrap;
}

#tickerText{
display:inline-block;
padding-left:100%;
animation:scroll 20s linear infinite;
}

@keyframes scroll{
0%{transform:translateX(0)}
100%{transform:translateX(-100%)}
}

/* MOBILE */
.hero img{
width:100%;
height:230px;
object-fit:cover;
}

.newsItem{
display:flex;
gap:10px;
padding:10px;
background:#fff;
margin:5px;
border-radius:10px;
}

.newsItem img{
width:100px;
height:70px;
object-fit:cover;
}

.bottomNav{
position:fixed;
bottom:0;
width:100%;
display:flex;
justify-content:space-around;
background:#fff;
padding:10px;
}

.center{
background:#e11d48;
color:white;
padding:8px 15px;
border-radius:20px;
}

.ads{
text-align:center;
padding:15px;
background:#eee;
margin:10px;
}

/* DESKTOP */
.desktop{
display:grid;
grid-template-columns:3fr 1fr;
gap:20px;
padding:20px;
}

.topGrid{
display:grid;
grid-template-columns:2fr 1fr;
gap:15px;
}

.big img{
width:100%;
height:300px;
object-fit:cover;
}

.side img{
width:100%;
height:150px;
object-fit:cover;
}

.grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
margin-top:15px;
}

.card img{
width:100%;
height:150px;
object-fit:cover;
}

.sidebar{
background:#fff;
padding:10px;
border-radius:10px;
}

.adsBox{
margin-top:20px;
padding:15px;
border:2px dashed red;
text-align:center;
}

.large{
grid-column:span 2;
}